{{ name }}
{{ schemeAndHttpHost ~ '/api/confirmation_token/' ~  tokenType ~ '/' ~ token }}
{{ tokenType }}
{{ token }}
{{ tokenExpiredDate | date }}
<div>
    <p>{{ name }}!</p>
    <p>Zmień hasło wchodząc w poniższy link.</p>
    <a href="{{ schemeAndHttpHost ~ '/api/confirmation_token/' ~  tokenType ~ '/' ~ token }}">Zmień hasło</a>
</div>